annotated-types
anyio
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
distro
faiss-cpu
filelock
Flask
Flask-Cors
fonttools
fsspec
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
openai
packaging
pandas
pillow
pip
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
setuptools
six
sniffio
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
